/* 미디어 쿼리 */
@media screen and (max-width: 1299px) {
    .project .slider article.slide .inner {
        width: 700px;
        height: 400px;
    }
}

@media screen and (max-width: 1199px) {
    .myInfo img {
        width: 300px;
        height: 300px;
    }

    .myInfo .contents {
        width: 600px;
    }

    .career .container {
        width: 840px;
    }
}

@media screen and (max-width: 1023px) {
    .myInfo img {
        display: none;
    }

    .project .slider article.slide .inner {
        width: 77vw;
        height: 44vw;
    }

    .project .container > i.fa-chevron-left {
        left: 3vw;
    }
    
    .project .container > i.fa-chevron-right {
        right: 3vw;
    }
}

@media screen and (max-width: 991px) {
    .career .container {
        width: 80%;
    }

    .career .container > h3 {
        text-align: center;
        margin-bottom: 32px;
    }

    .career .container .slider .slide .inner {
        flex-direction: column;
        gap: 20px;
    }

    .career .container .slider .slide .inner .contents ul.works {
        margin-bottom: 20px;
    }

    .career .container .pagination {
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 12px;
    }

    header nav {
        position: absolute;
        top: 80px;
        left: 0px;
        padding: 0px 48px;
    
        width: 100%;
        height: 0px;
        visibility: hidden;
        overflow: hidden;
        background: #fff;
        border-bottom: 1px solid #ddd;
        transition: all 0.5s;
    }

    header nav.active {
        height: 111px;
        visibility: visible;
    }
    
    header nav ul li {
        float: none;
        padding: 12px 0px;
        margin-right: 0px;
        border-bottom: 1px solid #ddd;
    }
    
    header nav ul li:last-child {
        border-bottom: none;
    }

    header i.fa-bars {
        display: block;
    }
    
    .myInfo .personalData {
        flex-direction: column;
        gap: 8px;
    }

    .project .slider article.slide .inner > i {
        font-size: 12px;
    }

    .project .slider article.slide .inner .pagination > i {
        font-size: 4px;
    }

    .project .container > i {
        font-size: 20px;
    }

    footer {
        justify-content: center;
    }

    footer .info {
        display: none;
    }
}

@media screen and (max-width: 424px) {
    .main {
        padding-top: 80px;
    }

    .main > div{
        transform: rotate(90deg);
    }
}

@media screen and (max-height: 680px) {
    main > section {
        min-height: 680px;
    }
}

@media screen and (max-height: 680px), screen and (max-width: 767px) {
    #wrapper {
        overflow-y: scroll;
    }
}