@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html {
    overflow: hidden;
    font-size: 16px;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    word-break: keep-all;

    min-width: 300px;
}

body {
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    cursor: pointer;
}

header {
    position: fixed;
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 0px 48px;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: #000;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
}

header nav ul {
    font-size: 0.75rem;
    font-weight: 700;
}

header nav ul li {
    float: left;
    margin-right: 20px;
    cursor: pointer;
}

header nav ul li:hover {
    color: #7E7E7E;
}

header nav ul li:last-child {
    margin-right: 0px;
}

header i.fa-bars {
    display: none;
    font-size: 16px;
}

main > section {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    min-height: 640px;  /* 최소 높이 지정 */
    padding-top: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    color: #000;
    font-size: 6rem;
    font-weight: 800;
    padding-top: 0;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: 80px;
    background: #fff;
    border-top: 1px solid #ddd;
    padding: 0px 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .info {
    color: #7E7E7E;
    font-size: 0.75rem;
    font-weight: 400;
}

footer .info a:hover{
    color: black;
}

footer .sns .logo {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

footer .sns .logo:last-child {
    margin-right: 0;
}

footer .sns a:last-child {
    margin-right: 0px;
}