.career {
    background-color: var(--body-bg);
}

.career .container {
    width: 980px;
    height: 480px;
    /* padding: 80px 160px; */

    display: flex;
    flex-direction: column;
}

.career .container > h3 {
    color: var(--text-color);
    font-size: 2.25rem;
    font-weight: 700;

    margin-bottom: 60px;
}

.career .container .slider {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 20px;
    flex-grow: 1;

    font-size: 0;
}

.career .container .slider .slide {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0px 20px;

    font-size: 1rem;
    transition: transform 0.5s;
}

.career .container .slider .slide .inner {
    display: flex;
    gap: 120px;
    height: 100%;
    color: var(--text-color);
}

.career .container .slider .slide .inner .title {
    max-width: 11rem;
    text-wrap: wrap;
}

.career .container .slider .slide .inner .title h4.com {
    font-size: 1.5rem;
    font-weight: 700;

    margin-bottom: 12px;
}

.career .container .slider .slide .inner .title .role {
    font-size: 1rem;
    font-weight: 700;
}

.career .container .slider .slide .inner .title .period {
    color: var(--sub-text-color);
    font-size: 1rem;
    font-weight: 400;
}

.career .container .slider .slide .inner .contents {
    flex-grow: 1;
    min-width: 0;   /* 자식 요소가 부모 요소를 넘어가는 걸 방지 */
}

.career .container .slider .slide .inner .contents ul.works {
    list-style: disc;
    margin-bottom: 32px;

    /* 줄바꿈 적용 */
    word-wrap: break-all;
    overflow-wrap: break-word;
    white-space: wrap;
}

.career .container .slider .slide .inner .contents ul.works li {
    font-size: 1rem;
    font-weight: 400;

    margin-bottom: 12px;
}

.career .container .slider .slide .inner .contents ul.works li:last-child {
    margin-bottom: 0px;
}

.career .container .slider .slide .inner .contents button.more {
    color: var(--body-bg);
    font-size: 1rem;
    font-weight: 700;
    padding: 12px 24px;

    background: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 12px;
    
    cursor: pointer;
}

.career .container .pagination {
    display: flex;
    justify-content: end;
    align-items: center;

    gap: 20px;
    color: var(--text-color);
}

.career .container .pagination i {
    font-size: 20px;
}

.career .container .pagination div.num {
    font-size: 1rem;
    font-weight: 400;
}