/* 미디어 쿼리 */
@media screen and (max-width: 1299px), (max-height: 820px) {
    .project .slider article.slide .inner > .wrap {
        width: 700px;
        height: 400px;
    }
}

@media screen and (max-width: 1199px) {
    .myInfo img {
        width: 300px;
        height: 300px;
    }

    .myInfo .contents {
        width: 600px;
    }

    .career .container {
        width: 840px;
    }
}

@media screen and (max-width: 1023px) {
    .myInfo img {
        display: none;
    }

    .project .slider article.slide .inner > .wrap {
        width: 77vw;
        height: 44vw;
    }

    .project .container > i.fa-chevron-left {
        left: 3vw;
    }
    
    .project .container > i.fa-chevron-right {
        right: 3vw;
    }
}

@media screen and (max-width: 991px) {
    .career .container {
        width: 80%;
    }

    .career .container > h3 {
        text-align: center;
        margin-bottom: 32px;
    }

    .career .container .slider .slide .inner {
        flex-direction: column;
        gap: 20px;
    }

    .career .container .slider .slide .inner .contents ul.works {
        margin-bottom: 20px;
    }

    .career .container .pagination {
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 12px;
    }

    header nav {
        position: absolute;
        top: 80px;
        left: 0px;
        padding: 0px 48px;
    
        width: 100%;
        height: 0px;
        visibility: hidden;
        overflow: hidden;
        background: #fff;
        border-bottom: 1px solid #ddd;
        transition: all 0.5s;
    }

    header nav.active {
        height: 111px;
        visibility: visible;
    }
    
    header nav ul li {
        float: none;
        padding: 12px 0px;
        margin-right: 0px;
        border-bottom: 1px solid #ddd;
    }
    
    header nav ul li:last-child {
        border-bottom: none;
    }

    header i.fa-bars {
        display: block;
    }
    
    .myInfo .personalData {
        flex-direction: column;
        gap: 8px;
    }

    .project .slider article.slide .inner > .wrap > i {
        font-size: 12px;
    }

    .project .slider article.slide .inner > .wrap .pagination {
        gap: 4px;
    }

    .project .slider article.slide .inner > .wrap .pagination > i {
        width: 4px;
        height: 4px;
    }

    .project .slider article.slide .inner .info > .wrap {
        margin: 8px;
    }

    .project .slider article.slide .inner .info > .wrap .name {
        margin-bottom: 0px;
    }

    .project .slider article.slide .inner .info > .wrap ul.skills {
        column-gap: 8px;
    }

    .project .container > i {
        font-size: 20px;
    }

    footer {
        justify-content: center;
    }

    footer .info {
        display: none;
    }
}

@media screen and (max-width: 424px) {
    .main {
        padding-top: 80px;
    }

    .main > div{
        transform: rotate(90deg);
    }

    .main > div:after{
        content: "DAYEONG";
        animation: none;
    }

    .project .slider article.slide .inner .info > .wrap .name {
        font-size: 1.25rem;
    }

    .project .slider article.slide .inner .info > .wrap ul.skills {
        font-size: 0.5rem;
    }
}

@media screen and (max-height: 680px) {
    main > section {
        min-height: 680px;
    }
}

@media screen and (max-height: 680px), screen and (max-width: 767px) {
    #wrapper {
        overflow-y: scroll;
    }
}

@media screen and (min-width: 768px) and (hover: hover) and (pointer: fine) {
    header nav ul li:hover {
        color: #7E7E7E;
    }

    .myInfo .personalData span a:hover {
        color: #7E7E7E;
    }

    .project .slider article.slide .inner > .wrap > i:hover {
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 50%;
    }

    .project .slider article.slide .inner > .wrap:hover {
        transform: translateY(-2%);
    }

    .project .container > i:hover {
        font-size: 48px;
    }

    footer .info a:hover{
        color: black;
    }

    .modal > .wrap .footer .button:hover {
        color: #7E7E7E;
    }
}