/* 미디어 쿼리 */
@media screen and (max-width: 1299px), (max-height: 820px) {
    .project .slider article.slide .inner > .wrap {
        width: 700px;
        height: 400px;
    }
}

@media screen and (max-width: 1199px) {
    .myInfo img {
        width: 300px;
        height: 300px;
    }

    .myInfo .contents {
        width: 600px;
    }

    .career .container {
        width: 840px;
    }
}

@media screen and (max-width: 1023px) {
    .myInfo img {
        display: none;
    }

    .project .slider article.slide .inner > .wrap {
        width: 77vw;
        height: 44vw;
    }

    .project .container > i.fa-chevron-left {
        left: 3vw;
    }
    
    .project .container > i.fa-chevron-right {
        right: 3vw;
    }
}

@media screen and (max-width: 991px) {
    .career .container {
        width: 80%;
    }

    .career .container > h3 {
        text-align: center;
        margin-bottom: 32px;
    }

    .career .container .slider .slide .inner {
        flex-direction: column;
        gap: 20px;
    }

    .career .container .slider .slide .inner .contents ul.works {
        margin-bottom: 20px;
    }

    .career .container .pagination {
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 12px;
    }

    header > .wrap nav {
        position: absolute;
        top: 80px;
        left: 0px;
        padding: 0px 48px;
    
        width: 100%;
        height: 0px;
        visibility: hidden;
        overflow: hidden;
        background: var(--body-bg);
        border-bottom: 1px solid var(--sub-text-color-2);
        transition: all 0.5s;
    }

    header > .wrap nav.active {
        height: 148px;  /* nav에 항목 추가 시 변경 */
        visibility: visible;
    }
    
    header > .wrap nav ul li {
        float: none;
        padding: 12px 0px;
        margin-right: 0px;
        border-bottom: 1px solid var(--sub-text-color-2);
    }
    
    header > .wrap nav ul li:last-child {
        border-bottom: none;
    }

    header > .wrap #theme_toggle {
        display: none;
    }

    header i.fa-bars {
        display: block;
    }
    
    .myInfo .personalData {
        flex-direction: column;
        gap: 8px;
    }

    .skills .container > h3 {
        margin-bottom: 32px;
    }

    .skills .container .contents ul.stacks > li .icon {
        width: 100px;
        height: 100px;
    }

    .skills .container .contents ul.stacks > li .icon > i {
        font-size: 60px;
    }

    .project .slider article.slide .inner > .wrap > i {
        font-size: 12px;
    }

    .project .slider article.slide .inner > .wrap .pagination {
        gap: 4px;
    }

    .project .slider article.slide .inner > .wrap .pagination > i {
        width: 4px;
        height: 4px;
    }

    .project .slider article.slide .inner .info > .wrap {
        margin: 8px;
    }

    .project .slider article.slide .inner .info > .wrap .name {
        margin-bottom: 0px;
    }

    .project .slider article.slide .inner .info > .wrap ul.stacks {
        column-gap: 8px;
    }

    .project .container > i {
        font-size: 20px;
    }

    footer {
        justify-content: center;
    }

    footer .info {
        display: none;
    }
}

@media screen and (max-width: 424px) {
    .main {
        padding-top: 80px;
    }

    .main > div {
        transform: rotate(90deg);
        animation: none;
    }

    .project .slider article.slide .inner .info > .wrap .name {
        font-size: 1.25rem;
    }

    .project .slider article.slide .inner .info > .wrap ul.stacks {
        font-size: 0.5rem;
    }
}

@media screen and (max-height: 680px) {
    main > section {
        min-height: 680px;
    }
}

@media screen and (max-height: 680px), screen and (max-width: 767px) {
    #wrapper {
        overflow-y: scroll;
    }
}

@media screen and (min-width: 768px) and (hover: hover) and (pointer: fine) {
    .hover-bg-change:hover {
        background-color: rgba(0, 0, 0, 0.25);
    }

    .hover-gray-text:hover {
        color: var(--color-gray-type1);
    }

    .project .slider article.slide .inner > .wrap:hover {
        transform: translateY(-2%);
    }

    .project .container > i:hover {
        font-size: 48px;
    }

    .career .container .slider .slide .inner .contents button.more:hover {
        color: var(--sub-text-color-2);
    }

    footer .info a:hover{
        color: var(--text-color);
    }

    .modal > .wrap .footer .button:hover {
        color: var(--color-gray-type1);
    }
}