.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    z-index: 12;
}

.modal > .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 85%;
    height: 85%;
    max-width: 1050px;
    max-height: 600px;
    background: var(--body-bg);
    border-radius: 16px;

    display: flex;
    flex-direction: column;
}

.modal > .wrap .header {
    width: 100%;
    padding: 20px 20px 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal > .wrap .header .title {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 700;
}

.modal > .wrap .header > i.fa-xmark {
    color: var(--text-color);
    font-size: 20px;
}

.modal > .wrap .content {
    flex: 1;
    padding: 20px 20px;
    overflow-y: auto;
    border-top: 1px solid var(--sub-text-color-2);
    border-bottom: 1px solid var(--sub-text-color-2);
}

.modal > .wrap .content > i.fa-spinner {
    text-align: center;
    display: none;
}

.modal > .wrap .footer {
    padding: 12px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
}

.modal > .wrap .footer .button {
    padding: 4px 8px;

    color: var(--text-color);
    font-size: 1rem;
    font-weight: 700;

    background: var(--body-bg);
    border: 2px solid var(--text-color);
    border-radius: 8px;

    cursor: pointer;
}

.modal > .wrap .footer .button > i {
    color: var(--text-color);
    font-size: 1rem;
    margin-right: 6px;
}

/* table 태그 테마 적용 */
.modal > .wrap .markdown-body th, 
.modal > .wrap .markdown-body td {
    background-color: var(--body-bg);
    color: var(--text-color);
}

/* a 태그 기본 스타일 적용 */
.modal > .wrap .content a, 
.modal > .wrap .content ul {
    all: revert;
}

/* 라이트 모드 강제 적용 */
.modal > .wrap .markdown-body {
    background-color: var(--body-bg);
    color: var(--text-color);

    --color-canvas-default: var(--body-bg);
    --color-fg-default: var(--text-color); 
}