.myInfo {
    background-color: var(--body-bg);
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
}

.myInfo img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    box-shadow: 0px 0px 8px var(--color-gray-type1);
}

.myInfo .contents {
    width: 640px;
    text-align: center;
    color: var(--text-color);
}

.myInfo .contents h1 {
    font-size: 3rem;
    font-weight: 700;
}

.myInfo .contents h2 {
    font-size: 2.25rem;
    font-weight: 700;
}

.myInfo .contents > p {
    font-size: 1rem;
    font-weight: 400;
    margin: 24px 0px 60px;
}

.myInfo .personalData {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.myInfo .personalData span {
    font-size: 1rem;
    font-weight: 400;
}

.myInfo .personalData span i {
    font-size: 16px;
    margin-right: 4px;
    cursor: auto;
}