.project {
    background-color: var(--body-bg);
}

.project .container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.project .slider {
    display: flex;
    height: 100%;       /* flex item의 heigth 값 상속을 위함 */
    transform: translateX(0%);
    transition: all 0.5s;
}

.project .slider article.slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;     /* flex item의 width를 설정한 값으로 적용 */

    display: flex;
    justify-content: center;
    align-items: center;
}

.project .slider article.slide .inner {
    position: relative;
}

.project .slider article.slide .inner > .wrap {
    width: 980px;
    height: 560px;
    box-shadow: 0px 0px 8px var(--color-gray-type1);
    overflow: hidden;

    transition: transform 0.3s;
}

.project .slider article.slide .inner > .wrap .images {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    font-size: 0;
    transition: all 0.5s;

    cursor: pointer;
}

.project .slider article.slide .inner > .wrap .images img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: inline-block;
    background: var(--color-black);
}

.project .slider article.slide .inner > .wrap > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    color: var(--body-bg);
    font-size: 20px;
    text-shadow: 0px 0px 4px var(--color-gray-type1);
    padding: 8px;

    z-index: 5;
}

.project .slider article.slide .inner > .wrap > i[class *= "left"] {
    left: 8px;
}

.project .slider article.slide .inner > .wrap > i[class *= "right"] {
    right: 8px;
}

.project .slider article.slide .inner > .wrap .pagination {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    gap: 12px;
}

.project .slider article.slide .inner > .wrap .pagination > i {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px var(--color-black);
    background-color: var(--color-gray-type1);

    cursor: auto;
}

.project .slider article.slide .inner > .wrap .pagination > i.active {
    background-color: var(--color-white);
}

.project .slider article.slide .inner .info {
    position: absolute;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.project .slider article.slide .inner .info > .wrap {
    color: var(--text-color);
    text-align: center;
    margin: 16px;
}

.project .slider article.slide .inner .info > .wrap .name {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 4px;
}

.project .slider article.slide .inner .info > .wrap ul.stacks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 16px;

    color: var(--sub-text-color);
    font-size: 0.75rem;
    font-weight: 400;
}

.project .slider article.slide .inner .info > .wrap ul.stacks li::before {
    content: "#";
}

.project .container > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    font-size: 40px;
    color: var(--sub-text-color-2);
    pointer-events : none;
}

.project .container > i.active {
    color: var(--text-color);
    pointer-events : auto;
}

.project .container > i.fa-chevron-left {
    left: 80px;
}

.project .container > i.fa-chevron-right {
    right: 80px;
}