@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* color */
    --body-bg: #fff;
    --text-color: #000;
    --sub-text-color: #7e7e7e;
    --sub-text-color-2: #ddd;

    /* fixed color */
    --color-white: #fff;
    --color-black: #000;
    --color-gray-type1: #7e7e7e;
    --color-gray-type2: #ddd;

    /* size */
    --font-size: 16px;
}

/* 스크롤 바 스타일 */
::-webkit-scrollbar { width: 4px }
::-webkit-scrollbar-thumb { background-color: #b4b4b4; border-radius: 4px; background-clip: padding-box }
::-webkit-scrollbar-track { background-color: var(--body-bg); border-radius: 4px; }

/* 다크모드 */
.dark_mode {
    --body-bg: #252525;
    --text-color: #fff;
    --sub-text-color: #ddd;
    --sub-text-color-2: #7e7e7e;
}

.dark_mode .myInfo img {
    box-shadow: none;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html {
    font-size: var(--font-size);

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    word-break: keep-all;

    min-width: 320px;
}

html, body {
    /* height: 100%; */
    overflow-y: hidden;
}

body {
    visibility: hidden; /* 초기 화면 숨김 - FOUT 문제 해결 */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    cursor: pointer;
}

#wrapper {
    overflow-y: auto;
    height: calc(var(--vh, 1vh) * 100);
}

/* 스크롤바 숨김 - Chrome, Safari, Opera */
#wrapper::-webkit-scrollbar {
    display: none;
}

/* 스크롤바 숨김 - IE, Edge, Firefox */
#wrapper {
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;  /* Firefox */
}

header {
    position: fixed;
    width: 100%;
    height: 80px;
    background: var(--body-bg);
    border-bottom: 1px solid var(--sub-text-color-2);
    padding: 0px 48px;
    z-index: 10;
    transform: scale(1.0); 

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
}

header > .wrap {
    display: flex;
    align-items: center;
    gap: 20px;
}

header > .wrap nav ul {
    color: var(--text-color);
    font-size: 0.75rem;
    font-weight: 700;
}

header > .wrap nav ul li {
    float: left;
    margin-right: 20px;
    cursor: pointer;
}

header > .wrap nav ul li:last-child {
    margin-right: 0px;
}

header > .wrap #theme_toggle {
    width: 36px;
    height: 36px;
    border-radius: 50%;

    color: var(--text-color);
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

header i.menu {
    color: var(--text-color);
    font-size: 16px;
    display: none;
}

main > section {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    padding-top: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

main > section > .container {
    margin: 20px 0px;
}

.main {
    padding-top: 0;
    background-color: var(--body-bg);

    display: flex;
    justify-content: center;
    align-items: center;
}

.main > div {
    color: var(--text-color);
    font-size: 6rem;
    font-weight: 800;

    animation: fade-in-up 1.5s forwards;
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

footer {
    width: 100%;
    height: 80px;
    background: var(--body-bg);
    border-top: 1px solid var(--sub-text-color-2);
    padding: 0px 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .info {
    color: var(--sub-text-color);
    font-size: 0.75rem;
    font-weight: 400;
}

footer .sns .logo {
    width: 20px;
    height: 20px;
    margin-right: 4px;

    background: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 50%;
}

footer .sns .logo:last-child {
    margin-right: 0px;
}

footer .sns a:last-child {
    margin-right: 0px;
}